<!doctype html>
<html>
<head>
  <title>Chatting</title>

  <!--  CSS -->
  <link rel="stylesheet" href="../static/fontawesome-free-6.0.0-web/css/all.min.css">
  <link rel="stylesheet" href="../static/css/base.css">
  {%- block cssfiles -%}
  {%- endblock cssfiles -%}

  <!--  JS -->
  <script type="text/javascript" src="../static/js/jquery.min.js"></script><!--jQuery-->
  {%- block jsfiles -%}
  {%- endblock jsfiles -%}

</head>
<body>

  <div class="navbar">Chatting Login-Page</div>

  <!--  BODY-->
  {%- block body_contents -%}
  {%- endblock body_contents -%}

</body>
</html>