{% extends 'base.html' %}

  <!--  CSS -->
  {%- block cssfiles -%}
  <link rel="stylesheet" href="../static/css/loginSuccess.css">
  {%- endblock cssfiles -%}

  <!--  JS -->
  {%- block jsfiles -%}
  <script type="text/javascript" src="../static/js/loginSuccess.js"></script>
  {%- endblock jsfiles -%}


  <!--  BODY-->
  {%- block body_contents -%}
  <div class = "loginSuccess">
    <span>로그인 성공</span>
  </div>

  <div class="chatting">
<!--    <h2>Chatting page</h2>-->
<!--    {{data2}}</br>-->

    <ul id = "output"></ul>

    <ul>
      <span id="login_id">{{login_id}}</span>
      <input type="text" id="myMessage">
      <button id="sendbutton">Send</button>
    </ul>
  </div>

  {%- endblock body_contents -%}